@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href="~/lib/font-awesome/dist/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="~/css/stylish-portfolio.css" rel="stylesheet">

    
    <title>@ViewData["Title"] - PeruStarApplication</title>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>

    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto text-center">
                    <h4>
                        <strong><p>&copy; 2017 - PeruStarApplication</p></strong>
                    </h4>
                    <p>
                        3481 Melrose Place
                        <br>Beverly Hills, CA 90210
                    </p>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            (123) 456-7890
                        </li>
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i>
                            <a href="mailto:name@example.com">name@example.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-facebook fa-fw fa-3x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-twitter fa-fw fa-3x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-dribbble fa-fw fa-3x"></i>
                            </a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Your Website 2017</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg js-scroll-trigger">
            <i class="fa fa-chevron-up fa-fw fa-1x"></i>
        </a>
    </footer>


    @*<div class="container body-content">
        
        <hr />
        <footer>
            <p>&copy; 2017 - PeruStarApplication</p>
        </footer>
    </div>*@

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                
        <!-- Bootstrap core JavaScript -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        
        <!-- Plugin JavaScript -->
        <script src="~/lib/jquery-easing/dist/jquery.easing.min.js"></script>
        
        <!-- Custom scripts for this template -->
        <script src="~/js/stylish-portfolio.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        
        <!-- Bootstrap core JavaScript -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="~/lib/jquery-easing/dist/jquery.easing.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="~/js/stylish-portfolio.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
