@{
    ViewData["Title"] = "About";
}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="~/images/Banners/Decorative/logoPeruStar.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" onclick="location.href = '@Url.Action("Index", "Home")'">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Content -->
<section class="aboutus-child-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <div class="aboutus-item">
                    The Lostaunau family built Peru Star Apartments to offer a unique, affordable option for travelers looking for homey accommodations with modern amenities and easy access to Lima’s most popular areas. At Peru Star, you can choose a room with a full kitchen, lounge, terrace view, and hammock. You can take breakfast in your room with a room service small fee. When you return from a day of exploring the city, you can enjoy your afternoon drink on our flower draped terrace.
                </div>
                <div class="aboutus-item">
                    If you are worried about your Spanish, you need not be. Our front desk team will be able to get you on your feet in Lima. With its traffic, construction, and generally fast pace, Lima can be an intimidating city. We have designed our services to ensure that you will not be overwhelmed and will instead be equipped to enjoy and explore a diverse city of economic and historical importance.
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>