@{
    ViewData["Title"] = "Home Page";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="~/images/Banners/Decorative/logoPeruStar.png" /></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#apartments">Rooms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#restaurant">Restaurant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--Carousel Wrapper-->
<div id="page-top" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="images/Banners/AreasComunes/sl8.jpg" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>
                        Example headline.
                    </h1>
                    <button type="button" class="btn btn-success btn-lg" onclick="location.href='@Url.Action("Reservations", "Home")'">Block level button</button>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/Banners/AreasComunes/sl1.jpg" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>
                        Example headline.
                    </h1>
                    <button type="button" class="btn btn-success btn-lg" onclick="location.href='@Url.Action("Reservations", "Home")'">Block level button</button>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/Banners/AreasComunes/sl2.jpg" />
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">
                            Call to Action
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/Banners/AreasComunes/sl4.jpg" />
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">
                            Call to Action
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/Banners/AreasComunes/sl5.jpg" />
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">
                            Call to Action
                        </a>
                    </p>
                </div>
            </div>
        </div>
        @*<div class="carousel-item">
                <img src="images/Banners/AreasComunes/sl6.jpg" />
                <div class="container">
                    <div class="carousel-caption">
                        <p>
                            <a class="btn btn-lg btn-primary" href="#" role="button">
                                Call to Action
                            </a>
                        </p>
                    </div>
                </div>
            </div>*@
        <div class="carousel-item">
            <img src="images/Banners/AreasComunes/sl7.jpg" />
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">
                            Call to Action
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--/.Slides-->
</div>
<!--Carousel Wrapper-->
<!-- Services -->
<section class="services" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="common-section-title">Our Services</h3>
                <div class="common-section-title-divider"></div>
                <p class="common-section-description">An invaluable added value</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 service-item">
                <div class="service-icon">
                    <i class="fa fa-desktop"></i>
                </div>
                <h4 class="service-title"><a href="">Airport Transportation</a></h4>
                <p class="service-description">Traveling a long way to a new country in the developing world is inherently stressful.</p>
            </div>
            <div class="col-md-6 service-item">
                <div class="service-icon">
                    <i class="fa fa-bar-chart"></i>
                </div>
                <h4 class="service-title"><a href="">Tours</a></h4>
                <p class="service-description">We can arrange tours throughout Lima and its surrounding areas.</p>
            </div>
            <div class="col-md-6 service-item">
                <div class="service-icon">
                    <i class="fa fa-paper-plane"></i>
                </div>
                <h4 class="service-title"><a href="">Continental Breakfast</a></h4>
                <p class="service-description">Enjoy a complementary continental breakfast including fresh baked bread.</p>
            </div>
            <div class="col-md-6 service-item">
                <div class="service-icon">
                    <i class="fa fa-photo"></i>
                </div>
                <h4 class="service-title"><a href="">Wifi</a></h4>
                <p class="service-description">Vacations are not what they used to be. Should you need to stay in touch.</p>
            </div>
        </div>
    </div>
</section>

<!-- Apartments -->
<section id="apartments" class="apartments">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="common-section-title">Apartments</h3>
                <div class="common-section-title-divider"></div>
                <p class="common-section-description">Luxury In The Heart Of Lima</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <a class="apartments-item" style="background-image: url(images/Depas/Duplex/duplex.jpg);" href="">
                    <div class="details">
                        <h3>Duplex Apartment</h3>
                        <h4>The Kids Will Never Forget It</h4>
                        <h4>Three to Four Persons</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a class="apartments-item" style="background-image: url(images/Depas/SuperiorDouble/superior.jpg);" href="">
                    <div class="details">
                        <h3>Superior Double Apartment</h3>
                        <h4>Our Signature Accomodation</h4>
                        <h4>Three to Four Persons</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a class="apartments-item" style="background-image: url(images/Depas/Double/doubleapartment.jpg);" href="">
                    <div class="details">
                        <h3>Double Apartment</h3>
                        <h4>With a special touch of luxury</h4>
                        <h4>Three to Four Persons</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a class="apartments-item" style="background-image: url(images/Depas/FamilyStandard/FamilyStandard.jpg);" href="">
                    <div class="details">
                        <h3>Standard Family Room</h3>
                        <h4>Our new option</h4>
                        <h4>Three to Four Persons</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a class="apartments-item" style="background-image: url(images/Depas/Petite/Petite.jpg);" href="">
                    <div class="details">
                        <h3>Petite Apartment</h3>
                        <h4>Live Luxuriously</h4>
                        <h4>One to Two Persons</h4>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a class="apartments-item" style="background-image: url(images/Depas/Standard/StandardRoom.jpg);" href="">
                    <div class="details">
                        <h3>Standard Room</h3>
                        <h4>A Genuinely Good Deal</h4>
                        <h4>One to Two Persons</h4>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>

<!-- Restaurant -->
<section id="restaurant" class="restaurant">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="common-section-title">Our Restaurant</h3>
                <div class="common-section-title-divider"></div>
                <p class="common-section-description">Eat Well - Learn the Recipes - Meet the Chef</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 restaurant-content">
                <h2 class="restaurant-title">Papas y Camotes Our Restaurant</h2>
                <p class="restaurant-text">
                    Make Peru Star your home away from home and join us for breakfast, lunch, and dinner. At breakfast, have Peru’s freshest orange juice, options of eggs like scrambled, fries, boiled or poached, or, if you’re feeling a little homesick, a stack of pancakes with butter, strawberry jam or maple syrup for an additional cost. At dinner, our restaurant serves Peru’s most famous dishes, including Arroz con Pollo, Lomo Saltado, Ceviche, and Jalea. If you are a cook, our chef will show the secrets to the dishes step by step. Many of our guests take home the recipes of their favorite dishes. We are not the typical hotel restaurant; our Peruvian food is the best in the neighborhood.We guarantee the quality of our food – if you do not enjoy your food, you do not have to pay. Enjoy our room service on all items with an additional cost, we want you to feel at home!
                </p>
                <button type="button" class="btn btn-info btn-lg" onclick="location.href='@Url.Action("Reservations", "Home")'">View Our Menu</button>
            </div>
            <div class="col-md-6 restaurant-content">
                <img src="images/Banners/Decorative/restaurant.jpg" />
            </div>
        </div>
    </div>
</section>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="common-section-title"></h3>
                <p class="common-section-description"></p>
            </div>
        </div>
    </div>
    <aside class="call-to-action text-white">
        <div class="container text-center">
            <h3>Learn more about our family's history!</h3>
            <a href="#" class="btn btn-lg btn-dark">About Us</a>
        </div>
    </aside>
    <!-- /.container -->
</section>

<!-- Contact -->
<section id="contact" class="contact">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.3294977588353!2d-77.05079408518706!3d-12.089580591438752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c856f0be240d%3A0xa0647d5cc3741c1b!2sCalle+Burgos+276%2C+Cercado+de+Lima+15076%2C+Peru!5e0!3m2!1sen!2sus!4v1512108045870"></iframe>
    <br />
    <small>
        <a href="https://goo.gl/maps/5ZyetEyUqiE2"></a>
    </small>
</section>