@{
    ViewData["Title"] = "Restaurant";
}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="~/images/Banners/Decorative/logoPeruStar.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" onclick="location.href = '@Url.Action("Index", "Home")'">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Content -->
<section class="restaurant-child-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="common-section-title">Eat Well - Learn the Recipes - Meet the Chef</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="restaurant-item">
                    <h4>Arroz con pollo</h4>
                    <span>$30</span>
                    <div class="description">tempura style, cool cucumbers, chili sauce</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="restaurant-item">
                    <h4>Lomito strogonof con pure</h4>
                    <span>$47</span>
                    <div class="description">tempura vegetables, spicy aioli</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="restaurant-item">
                    <h4>Estofado de pollo</h4>
                    <span>$56</span>
                    <div class="description">pork dumplings with hot mustard</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="restaurant-item">
                    <h4>Pollo al horno</h4>
                    <span>$33</span>
                    <div class="description">smoked trout dip, cheese dip, hummus, fresh sliced baguette</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="restaurant-item">
                    <h4>Picante de carne</h4>
                    <span>$47</span>
                    <div class="description">wok tossed with chilies, garlic, soy sauce</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="restaurant-item">
                    <h4>Aji de gallina</h4>
                    <span>$58</span>
                    <div class="description">secret sauce & American cheese additional sliders $4/each</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="restaurant-item">
                    <h4>Pescado a la chorrillana</h4>
                    <span>$89</span>
                    <div class="description">toasted peanuts, crispy noodles, fresh cilantro chicken or shrimp $3</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="restaurant-item">
                    <h4>Tallarin verde con bistck</h4>
                    <span>$29</span>
                    <div class="description">whole milk mozzarella, sundried tomatoes, chipotle aioli</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>

<!-- Content -->
<section class="restaurant-child-page" style="background: url(/images/Banners/AreasComunes/lacarta.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="common-section-title">Our Beverages</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="restaurant-item">
                    <h4>Cuba libre</h4>
                    <span>$30</span>
                    <div class="description">tempura style, cool cucumbers, chili sauce</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="restaurant-item">
                    <h4>Chilcano de pisco</h4>
                    <span>$47</span>
                    <div class="description">tempura vegetables, spicy aioli</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="restaurant-item">
                    <h4>Algarrobina</h4>
                    <span>$56</span>
                    <div class="description">pork dumplings with hot mustard</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="restaurant-item">
                    <h4>Maracuya sour</h4>
                    <span>$33</span>
                    <div class="description">smoked trout dip, cheese dip, hummus, fresh sliced baguette</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="restaurant-item">
                    <h4>Cafe con Baileys</h4>
                    <span>$47</span>
                    <div class="description">wok tossed with chilies, garlic, soy sauce</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="restaurant-item">
                    <h4>Piña colada</h4>
                    <span>$58</span>
                    <div class="description">secret sauce & American cheese additional sliders $4/each</div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="common-section-title">Cerveza</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="restaurant-item">
                    <h4>Pilsen</h4>
                    <span>$30</span>
                    <div class="description">tempura style, cool cucumbers, chili sauce</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="restaurant-item">
                    <h4>Cristal</h4>
                    <span>$30</span>
                    <div class="description">tempura style, cool cucumbers, chili sauce</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="restaurant-item">
                    <h4>Cuzqueña rubia</h4>
                    <span>$56</span>
                    <div class="description">pork dumplings with hot mustard</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="restaurant-item">
                    <h4>Cuzqueña roja</h4>
                    <span>$33</span>
                    <div class="description">smoked trout dip, cheese dip, hummus, fresh sliced baguette</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="restaurant-item">
                    <h4>Cuzqueña de trigo</h4>
                    <span>$47</span>
                    <div class="description">wok tossed with chilies, garlic, soy sauce</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="restaurant-item">
                    <h4>Budweiser</h4>
                    <span>$58</span>
                    <div class="description">secret sauce & American cheese additional sliders $4/each</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="restaurant-item">
                    <h4>Corona</h4>
                    <span>$47</span>
                    <div class="description">wok tossed with chilies, garlic, soy sauce</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>